<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <em class="fa fa-home"></em>
        </a>
      </li>
      <li class="active">Users</li>
    </ol>
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Users</h1>
    </div>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default articles">
        <div class="panel-heading">
         User Management
          <ul class="pull-right panel-settings panel-button-tab-right">
            <li class="dropdown">
              <a class="pull-right dropdown-toggle" data-toggle="dropdown" (click)="openDialog();" >
                <em class="fas fa-plus"></em>
                <!-- <i class="fas fa-plus"></i> -->
              </a>
              <!-- <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <ul class="dropdown-settings">
                    <li>
                      <a href="#">
                        <em class="fa fa-cog"></em> Settings 1
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#">
                        <em class="fa fa-cog"></em> Settings 2
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#">
                        <em class="fa fa-cog"></em> Settings 3
                      </a>
                    </li>
                  </ul>
                </li>
              </ul> -->
            </li>
          </ul>
          <!-- <span class="pull-right clickable panel-toggle panel-button-tab-left">
            <em class="fa fa-toggle-up"></em>
          </span> -->
        </div>
        <div class="panel-body articles-container">
          <!-- Here ? -->

          <table class="table">
            <tr>
                <td>#</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Username</td>
                <!-- <td>Pic</td> -->
                <td>Active Status</td>
                <td>Phone</td>
                <td>Action</td>
            </tr>
           <!-- {{users}} -->
            <tr  *ngFor="let user of users; let i = index">
                <td>{{i+1}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.userName}}</td>
                <!-- <td>{{user.profileImage}}</td> -->
                <td>{{user.activeStatus}}</td>
                <td>{{user.phone}}</td>
                <td>Edit / Delete</td>
            </tr>
          </table>
        </div>
      </div>
  
      <div class="col-sm-12">
        <p class="back-link">Lumino Theme by
          <a href="https://www.medialoot.com">Medialoot</a>
        </p>
      </div>
    </div>
    <!--/.row-->
  </div>