<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="#"> <em class="fa fa-home"></em> </a>
      </li>
      <li class="active">Users</li>
    </ol>
  </div>
  <!-- /.row -->
  <!-- <div class="row">
    <div class="col-lg-12"><h1 class="page-header">Users</h1></div>
  </div> -->

  <div class="row">
    <div class="col-md-offset-3 col-md-6 ">
      <form class="example-form">
        <!-- <mat-form-field class="example-full-width">
          <input
            type="text"
            placeholder="Select Merchant"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            [(ngModel)]="merchantName"
            (input)="clickedFunction()"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of (filteredOptions | async)"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> -->
        <label for="userType"> Select User Type</label>
        <select
          name="userType"
          id="userType"
          [(ngModel)]="userType"
          class="form-control"
        >
          <option value=""> All</option>

          <option value="admin"> Admin</option>
          <option value="user"> User</option>
          <option value="merchant"> Merchant</option>
        </select>
        <br />
        <!-- result : - {{ userType }} -->
      </form>
    </div>
  </div>

  <!-- /.row -->

  <!--
    <input type="text" google-place type="text"  class="google-place-input"  placeholder="Type to search.."  >
  -->

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default articles">
        <div class="panel-heading">
          User Management
          <ul class="pull-right panel-settings panel-button-tab-right">
            <li class="dropdown">
              <a
                class="pull-right dropdown-toggle"
                data-toggle="dropdown"
                (click)="openDialog()"
              >
                <em class="fas fa-plus"></em>
                <!-- <i class="fas fa-plus"></i> -->
              </a>
            </li>
          </ul>
          <!--
            <span class="pull-right clickable panel-toggle panel-button-tab-left">
              <em class="fa fa-toggle-up"></em>
            </span>
          -->
        </div>
        <div class="alert bg-success" *ngIf="showsuccessMessage" role="alert">
          <em class="fa fa-lg fa-warning">&nbsp;</em> {{ showsuccessMessage
          }}<a
            href="javascript:void(0);"
            (click)="closeMessage()"
            class="pull-right"
            ><em class="fa fa-lg fa-close"></em
          ></a>
        </div>
        <div class="alert bg-warning" *ngIf="showerrorMessage" role="alert">
          <em class="fa fa-lg fa-warning">&nbsp;</em> {{ showerrorMessage
          }}<a
            href="javascript:void(0);"
            (click)="closeMessage()"
            class="pull-right"
            ><em class="fa fa-lg fa-close"></em
          ></a>
        </div>
        <div class="panel-body articles-container">
          <!-- Here ? -->

          <table class="table" *ngIf="users && !loading; else noUsers">
            <tr>
              <td>#</td>
              <td>Name</td>
              <td>Email</td>

              <td>Active Status</td>
              <td>Phone</td>
              <td>User Type</td>
              <td *ngIf="userType != 'user' && userType != 'admin'">Merchant Id</td>
              <td>Amount</td>
              <td>Action</td>
            </tr>
            <!-- {{users}} -->
            <tr
              *ngFor="
                let user of (users
                  | userFilter: { type: this.userType }
                  | paginate
                    : { itemsPerPage: itemsPerPage, currentPage: currentPage });
                let i = index
              "
            >
              <td>{{ itemsPerPage * (currentPage - 1) + i + 1 }}</td>
              <td>{{ user.first_name + " " + user.last_name }}</td>
              <td>{{ user.email }}</td>

              <td>
                <a href="javascript:void(0);" (click)="ActiveInactive(user)"
                  ><span *ngIf="user.active_status == 1">Active</span>
                  <span *ngIf="user.active_status != 1">InActive</span></a
                >
              </td>
              <td>{{ user.phone }}</td>
              <td>
                {{
                  user.is_merchant
                    ? "Merchant"
                    : user.is_admin
                    ? "Admin"
                    : "User"
                }}
              </td>
              <td *ngIf="userType != 'user' && userType != 'admin'">{{ user.merchant_unique_id }}</td>
              <td>{{ user.bucks_amount }}</td>
              <td>
                <a
                  href="javascript:void(0);"
                  title="Edit"
                  (click)="editUser(user)"
                  ><em class="fa fa-pencil-square"></em
                ></a>
                /
                <a
                  href="javascript:void(0);"
                  title="Delete"
                  (click)="deleteUser(user)"
                  ><em class="fa  fa-trash"></em></a
                >/
                <a
                  href="javascript:void(0);"
                  title="View Transactions"
                  (click)="viewTransactions(user)"
                  ><em class="fa  fa-eye"></em
                ></a>
              </td>
            </tr>
          </table>

          <div class="loading_position">
            <i *ngIf="loading" class="fa fa-refresh fa-spin icon_size"></i>
          </div>
          <ng-template #noUsers> No Transactions Available </ng-template>

          <pagination-controls
            *ngIf="!loading"
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </div>
      </div>

      <!-- <div class="col-sm-12">
        <p class="back-link">
          Lumino Theme by <a href="https://www.medialoot.com">Medialoot</a>
        </p>
      </div> -->
    </div>
    <!-- /.row -->
  </div>
</div>
