<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="#"> <em class="fa fa-home"></em> </a>
      </li>
      <li class="active">Gift Card</li>
    </ol>
  </div>

  <div class="row">
    <div class="col-lg-12"><h1 class="page-header">Gift Card</h1></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default articles">
        <div class="panel-heading">
          Gift Card Management

          <ul class="pull-right panel-settings panel-button-tab-right">
            <li class="dropdown">
              <a
                class="pull-right dropdown-toggle"
                data-toggle="dropdown"
                (click)="openDialog()"
              >
                <em class="fas fa-plus"></em>
              </a>
            </li>
          </ul>
        </div>
        <div class="alert bg-success" *ngIf="showsuccessMessage" role="alert">
          <em class="fa fa-lg fa-warning">&nbsp;</em> {{ showsuccessMessage
          }}<a
            href="javascript:void(0);"
            (click)="closeMessage()"
            class="pull-right"
            ><em class="fa fa-lg fa-close"></em
          ></a>
        </div>
        <div class="panel-body articles-container">
          <table class="table">
            <tr>
              <td>#</td>
              <td>Card Code</td>
              <td>Expiry Date</td>
              <td>Reedeem Status</td>
              <td>Ammount</td>
              <td>Created By</td>
              <td>Used By</td>
              <td>Action</td>
            </tr>
            <tr
              *ngFor="
                let card of (giftCards
                  | paginate
                    : { itemsPerPage: itemsPerPage, currentPage: currentPage });
                let i = index
              "
            >
              <td>{{ itemsPerPage * (currentPage - 1) + i + 1 }}</td>
              <td>{{ card.unique_code }}</td>
              <td>{{ card.gift_expiry_date }}</td>
              <td>{{ card.redeemed_status == 0 ? "unused" : "used" }}</td>
              <td>{{ card.gift_card_value }}</td>
              <td>{{ card.p_firstname + " " + card.p_lastname }}</td>
              <td>
                <span *ngIf="card.used_firstname">{{
                  card.used_firstname + " " + card.used_lastname
                }}</span>
                <span *ngIf="!card.used_firstname">None</span>
              </td>
              <td>
                <a
                  href="javascript:void(0);"
                  title="Delete User"
                  (click)="deleteCard(card)"
                  ><em class="fa  fa-trash"></em
                ></a>
              </td>
            </tr>
          </table>

          <pagination-controls
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </div>
      </div>

      <div class="col-sm-12"></div>
    </div>
  </div>
</div>
