<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="#"> <em class="fa fa-home"></em> </a>
      </li>
      <li class="active">Change Password</li>
    </ol>
  </div>
  <!-- /.row -->
  <div class="row"></div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default articles">
        <div class="panel-body articles-container">
          <div class="invalid-feedback">{{ errorMessage }}</div>
          <div class="valid-feedback">{{ successMessage }}</div>
          <table class="table">
            <tr>
              <td>Old Password</td>
              <td>
                <input
                  type="password"
                  class="form-control"
                  [(ngModel)]="oldpassword"
                />
              </td>
            </tr>
            <tr>
              <td>New Password</td>
              <td>
                <input
                  type="password"
                  class="form-control"
                  [(ngModel)]="newpassword"
                />
              </td>
            </tr>
            <tr>
              <td>Confirm Password</td>
              <td>
                <input
                  type="password"
                  class="form-control"
                  [(ngModel)]="confpassword"
                />
              </td>
            </tr>
          </table>

          <button (click)="changePassword()" class="btn btn-primary">
            Change Password
          </button>
        </div>
      </div>
      <div class="col-sm-12"></div>
    </div>
  </div>
</div>
