<div class="row" *ngIf="!dashboardPurchasedCredits">
  <ol class="breadcrumb">
    <li>
      <a href="#"> <em class="fa fa-home"></em> </a>
    </li>
    <li class="active">Purchased Credits</li>
  </ol>
</div>
<!-- /.row -->
<div class="row" *ngIf="!dashboardPurchasedCredits">
  <div class="col-lg-12"><h1 class="page-header">Purchased Credits</h1></div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default articles">
      <div class="panel-heading">
        {{
          dashboardPurchasedCredits
            ? "This Month Credit Purchased"
            : "Purchased Credits"
        }}
      </div>
      <div class="alert bg-success" *ngIf="showsuccessMessage" role="alert">
        <em class="fa fa-lg fa-warning">&nbsp;</em> {{ showsuccessMessage
        }}<a
          href="javascript:void(0);"
          (click)="closeMessage()"
          class="pull-right"
          ><em class="fa fa-lg fa-close"></em
        ></a>
      </div>
      <div class="panel-body articles-container">
        <table class="table" *ngIf="purchasedBuck && !loading; else noBucks">
          <tr>
            <td>#</td>
            <td>Amount</td>
            <td>Purchased By</td>
            <td>Transaction Id</td>
            <td>Date</td>
            <!--
                <td>From</td>
                <td>To</td>
                | filter: merchantName
              -->
          </tr>
          <tr
            *ngFor="
              let bucks of (purchasedBuck
                | bucksFilter
                  : {
                      dashboardPurchasedCredits: dashboardPurchasedCredits
                    }
                | paginate
                  : {
                      id: 'purchasedbucks',
                      itemsPerPage: itemsPerPage,
                      currentPage: currentPage
                    });
              let i = index
            "
          >
            <td>{{ itemsPerPage * (currentPage - 1) + i + 1 }}</td>
            <td>{{ bucks.amount }}</td>
            <td>
              <a
                href="javascript:void(0);"
                (click)="gotoUserDetails(bucks.user.uuid)"
                >{{ bucks.user.email }}</a
              >
              <!-- {{ bucks.first_name + " " + bucks.last_name }}-->
            </td>
            <td>{{ bucks.transactionId }}</td>
            <td>{{ bucks.createdAt | date: "MM-dd-yyyy" }}</td>
            <!--
                <td>{{ bucks.from_firstname }}</td>
                <td>{{ bucks.to_firstname }}</td>
              -->
          </tr>
        </table>

        <div class="loading_position">
          <i *ngIf="loading" class="fa fa-refresh fa-spin icon_size"></i>
        </div>
        <ng-template #noBucks>No Cards Available</ng-template>
        <pagination-controls
          *ngIf="!loading"
          id="purchasedbucks"
          (pageChange)="currentPage = $event"
        ></pagination-controls>
      </div>
    </div>

    <div class="col-sm-12"></div>
  </div>
</div>
