<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="#"> <em class="fa fa-home"></em> </a>
      </li>
      <li class="active">Dashboard</li>
    </ol>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12"><h1 class="page-header">Dashboard</h1></div>
  </div>
  <!-- /.row -->

  <div class="panel panel-container">
    <div class="row">
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-teal panel-widget border-right">
          <div class="row no-padding">
            <em class="fa fa-xl fa-users color-blue large-size"></em>
            <div class="large">{{ merchantCount }}</div>
            <div class="text-muted">Active Merchants</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-blue panel-widget border-right">
          <div class="row no-padding">
            <em class="fa fa-xl fa-money color-orange large-size"></em>
            <div class="large">{{ payoutAmount }}</div>
            <div class="text-muted">This Month Merchat Payouts</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-orange panel-widget border-right">
          <div class="row no-padding">
            <em class="fa fa-xl fa-gift color-teal large-size"></em>
            <div class="large">{{ giftAmount }}</div>
            <div class="text-muted">This Month Gift card purchase</div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
        <div class="panel panel-red panel-widget ">
          <div class="row no-padding">
            <em class="fa fa-xl fa-credit-card color-red large-size"></em>
            <div class="large">{{ creditAmount }}</div>
            <div class="text-muted">This Month Credits Purchsed</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
     
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <mat-tab-group>
            <mat-tab label="Active Merchants">
              <table class="table" *ngIf="activeMerchants; else noUsers">
                <tr>
                  <td>#</td>
                  <td>Name</td>
                  <td>Email</td>
                  <td>Active Status</td>
                  <td>Phone</td>

                  <td>Amount</td>
                </tr>
                <tr
                  *ngFor="
                    let user of (activeMerchants
                      | paginate
                        : {
                            itemsPerPage: MerchantItemsPerPage,
                            currentPage: MerchantCurrentPage
                          });
                    let i = index
                  "
                >
                  <td>
                    {{
                      MerchantItemsPerPage * (MerchantCurrentPage - 1) + i + 1
                    }}
                  </td>
                  <td>{{ user.firstName + " " + user.lastName }}</td>
                  <td>{{ user.email }}</td>

                  <td>
                    <span *ngIf="user.activeStatus == 1">Active</span>
                    <span *ngIf="user.activeStatus != 1">InActive</span>
                  </td>
                  <td>{{ user.phone }}</td>

                  <td>{{ user.bucksAmount }}</td>
                </tr>
              </table>

              <pagination-controls
                (pageChange)="MerchantCurrentPage = $event"
              ></pagination-controls>

              <ng-template #noUsers> No Transactions Available </ng-template>
            </mat-tab>
            <mat-tab label="Second"> Content 2 </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div> -->
</div>
