@import url("../../assets/css/bootstrap.min.css");
@import url("../../assets/css/styles.css");

@import url("../../assets/css/font-awesome.min.css");
@import url("../../assets/css/datepicker3.css");

.removeButton > * {
  display: none !important;
}

.md-dialog-container {
  background-color: #000;
  width: 250px;
  height: 250px;
}

.mat-dialog-container {
  color: #585757;
  background-color: #ffffff;
}

.cdk-overlay-pane {
  width: 55%;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 0;
}

.form-control {
  height: 30px;
}
.invalid-feedback {
  color: #ff0000;
}

.google-place-input {
  width: 50%;
  min-width: 280px;
  height: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}
